.THIS .footerstyle {
  float: right;
  margin-top: 10px;
}

.THIS .footerstyle2 {
  margin-top: 5px;
  padding-bottom: 30px;
}

.THIS .newButton{
  float: right;
}

.THIS .marginTop{
  margin-top: 20px;
}