.THIS	.lens-search-button
{
	margin-top: 23.5px!important;
	/*margin-left: 18px!important;*/
}

.THIS	.lens-search-button
	{
		margin-top: 20.5px !important;
		margin-left: 3px !important;
	}
.THIS	.lens-search-button button 
{
	width: 32px;
    margin-left: -33px;
    height: 32px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.THIS	.lens-search-button button svg
{
	margin-left: -7px;
}
.THIS	#vatnotpresentcontainer
{
	width: 95%;
}