/*.THIS input{
	background-color: rgb(255, 255, 255);
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.43137254901960786) !important;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}*/
.THIS {}